# Jupyter intro

## necessary imports

In [11]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd
from numpy import random
from matplotlib import interactive
interactive(True)

In [12]:
cities = ['Linz', 'Vienna', 'Salzburg', 'Graz']
scores = [12, 34, 2, 256]
mergeData = list(zip(cities, scores))
mergeData

[('Linz', 12), ('Vienna', 34), ('Salzburg', 2), ('Graz', 256)]

In [14]:
df = pd.DataFrame(data=mergeData, columns=['Cities', 'Scores'])
df

     Cities  Scores
0      Linz      12
1    Vienna      34
2  Salzburg       2
3      Graz     256

export to text file:

In [16]:
df.to_csv('cities_score.csv', sep=';', index=False, header=False)

read into dataframe:

In [18]:
new_data = r'cities_score.csv'
df_new = pd.read_csv(new_data, names=['Cities', 'Scores'], sep=';')
df_new

     Cities  Scores
0      Linz      12
1    Vienna      34
2  Salzburg       2
3      Graz     256

get dataframe infos:

In [19]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
Cities    4 non-null object
Scores    4 non-null int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

short variant:

In [21]:
df.dtypes

Cities    object
Scores     int64
dtype: object